/* Write your CSS code here */
.sidebar-bg {
  width: 240px;
  height: 100vh;
  background-color: rgb(238, 243, 248);
  padding: 10px;
}

.sidebar-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
